.wrapper{
    margin: auto;
    width: 90vw;
}

.vs_img_block{

    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
}

.main{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
}

.team1_img, .team2_img{
    width: 300px;
    height: 300px;
    border-radius: 20%;
}