$navbarBackgroundColor: #2b447d;

.who_will_win_box {
  color: white;
  width: 90vw;
  margin: auto;
  margin-top: 3rem;
}

.prediction_form {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: 2rem;
}

.voteBtn {
  text-align: center;
}

.team_option_selection {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.team_option * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.team_option input {
  padding: 1rem;
}

.button {
  background-color: $navbarBackgroundColor !important;
  border-color: $navbarBackgroundColor !important;
  width: 10rem !important;

  &:hover {
    background-color: #4768b0 !important;
  }
}

.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(
    to right bottom,
    hsl(154, 97%, 62%),
    hsl(225, 97%, 62%)
  );
  position: relative;
}

.rad-design::before {
  content: "";

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
}

.rad-input:checked + .rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 80%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: hsl(0, 0%, 40%);
}

.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 16px;
}

.already-voted-text {
  color: white;
  text-align: center;
  margin: 2rem auto;
}
