.wrapper_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 70%;
}

.wrapper {
  opacity: 100% !important;
  //   width: 90vw;
  height: 100%;
  margin: auto;
  padding-top: 2rem;
}

.ipl_cover_photo {
  height: 100%;
  position: relative;
  width: 100%;
  background-image: url("../../public/images/iplTeams.jpeg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 2rem;
  min-height: 100vh;
}

.today_match_title {
  position: relative;
  width: 90vw;
  margin: 2rem 6rem;
  display: flex;
  align-items: center;
}

.selectDateBox {
  z-index: 99;
  width: 90vw;
  margin: auto;
  position: relative;
  opacity: 100% !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: rgb(17, 98, 125);
  border-radius: 10px;
  padding-top: 1em;
  align-items: center;
  padding-bottom: 1rem;

  p {
    color: white;
    margin-bottom: 0 !important;
  }
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;

  label {
    width: fit-content;
  }
}

.match-ended-text,
.already_voted_title {
  color: white;
  text-align: center;
  margin: 2rem auto;
}

.slideRight-wrapper {
  position: absolute;
  left: -600px;
  width: 460px;
  height: 100px;
  -webkit-animation: slideRight 0.5s forwards;
  animation: slideRight 0.5s forwards;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.slideRight {
  position: absolute;
  left: -600px;
  width: 300px;
  height: 250px;
  right: 0;
  bottom: 0;
  margin-left: auto;
  object-fit: cover;
  -webkit-animation: slideRight 0.5s forwards;
  animation: slideRight 0.5s forwards;
  border-radius: 15px;
}

@-webkit-keyframes slideRight {
  100% {
    left: 0;
  }
}

@keyframes slideRight {
  100% {
    left: 0;
  }
}

.slideLeft-wrapper {
  position: absolute;
  right: -600px;
  width: 460px;
  height: 100px;
  -webkit-animation: slideLeft 0.5s forwards;
  animation: slideLeft 0.5s forwards;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.slideLeft {
  position: absolute;
  right: -600px;
  width: 300px;
  height: 250px;
  left: 0;
  bottom: 0;
  margin-right: auto;
  -webkit-animation: slideLeft 0.5s forwards;
  animation: slideLeft 0.5s forwards;
  border-radius: 15px;
  object-fit: cover;
}

@-webkit-keyframes slideLeft {
  100% {
    right: 0;
  }
}

@keyframes slideLeft {
  100% {
    right: 0;
  }
}
