.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 10rem;

    @media screen and (max-width: 768px) {
      width: 70px;
    }
  }
  
  .spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    // margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(90, 129, 201);
    border-color: rgb(90, 129, 201) transparent rgb(90, 129, 201) transparent;
    animation: spinner 1s linear infinite;
  
    @media screen and (max-width: 768px) {
      width: 45px;
      height: 45px;
    }
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }